@charset "UTF-8";
/* CSS Document */
body {
	border:0;
	font-family: Helvetica, sans-serfi;
	margin:0;	
	padding:0;
}

#wrapper {
	margin:0 auto;
	position:relative;
	width:450px;	
}

#end {
	position:absolute;	
	top: 350px;
	position: absolute;
	left: 517px;
	display:none;
}

#controls {
	margin:1em auto;
	width: 350px;	
}

#left,#right,#fire {
	background:black;
	color:white;
	cursor:pointer;
	float:left;	
	font-weight:bold;
	padding:5px 10px;
	text-transform:capitalize;
}

#right {
	float:right;	
}

#fire {
	margin-left:102px;	
}

#quotes {
	position:absolute;
	width: 200px;
	right: 10px;	
}

#overlay {
	position: absolute;
	left: 20%;
	top: 25%;	
}